//-------------------------------------------
// Container/Wrapper
//-------------------------------------------
.container {
    margin: 0 auto;
    max-width: 85em;
}

//-------------------------------------------
// HEADER
//-------------------------------------------
.dashboard {
    @include space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0 3rem 0;

    &__title, 
    &__toggle-text{
        color: var(--white-text);
    }

    &__title {
        font-size: 2rem;
    }

    &__followers {
        color: var(--desaturated-blue-text);
        font-weight: var(--font-bold);
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
}

//-------------------------------------------
// MAIN CONTENT
//-------------------------------------------
.media-data {
    
    //-------------------------------------------
    // MEDIA CARD FOLLOWERS
    //-------------------------------------------
    &__followers {
        @include space-between;
        flex-wrap: wrap;
        margin-bottom: 4em;

        .media-card {
            @include space-between;
            flex-direction: column;
            align-items: center;
        }
    }

    &__responses {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        justify-content: center;
    }

    //-------------------------------------------
    // MEDIA CARD OVERVIEW
    //-------------------------------------------
    .overview-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1.7rem;

        &__media-icon, 
        &__gain-loss {
            justify-self: end;
        }
    }
}

//-------------------------------------------
// MEDIA QUERIES
//-------------------------------------------
@media screen and (max-width: 1200px) {

    .container--mobile {
        max-width: 85%;
    }

    .media-data__today {
        margin-top: 2rem;
    }

    .media-card {
        margin-bottom: 2rem;
    }

    .dashboard {

        &--mobile {
            padding-top: 3rem;
        }

        &__intro {
            border-bottom: 1px solid var(--desaturated-blue-text);
            margin-bottom: 1rem;
            width: 100%;
        }

        &__title--mobile {
            font-size: 1.4rem;
        }

        &__followers {
            margin-bottom: 1rem;
        }

        &__toggle-mode {
            width: 100%;
        }
    }
    
    .overview-card:last-child {
        margin-bottom: 2rem;
    }
}